@charset "utf-8";

.sub_details{
    min-height: 250px;
    width: 700px; 
    margin: 0 auto; 
    padding: 20px, 0px;
    font-size: 25px;
}

#name {
    width: 380px;
    height: 300px;
    float: left;
}


.label {
    text-align: center;
    width: 100px;
    background-color: #ffdb5d;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}